# {{ name or "Your Name" }}

## Summary
{{ summary }}

{% if skills %}
## Skills
{% for s in skills -%}
- {{ s }}
{%- endfor %}
{% endif %}

{% if experiences %}
## Experience
{% for e in experiences -%}
- {{ e }}
{%- endfor %}
{% endif %}
